<ul class="five-days-list">
    {{#each this}}
    <li class="five-days-list__item">
        <h2 class="five-days-list__day">{{time}}</h2>
        <a href="#" class="five-days-list__link">
            <div class="five-days-list__img-wrap"><img class="five-days-list__img"
                    src="https://openweathermap.org/img/wn/{{icon}}@2x.png" alt="{{alt}}"></div>
            <ul class="weather-short-list">
                <li class="weather-short-list__item"><span class="weather-short-list__title">Temperatura:</span><span
                        class="weather-short-list__value">{{tempCelsium}} ºC</span></li>
                <li class="weather-short-list__item"><span class="weather-short-list__title">Humidity: </span><span
                        class="weather-short-list__value">{{humidity}} %</span></li>
                <li class="weather-short-list__item"><span class="weather-short-list__title">Cloudiness: </span><span
                        class="weather-short-list__value">{{cloudiness}} %</span></li>
                <li class="weather-short-list__item"><span class="weather-short-list__title">Wind: </span><span
                        class="weather-short-list__value">{{wind}} meter/sec</span></li>
                <li class="weather-short-list__item"><span class="weather-short-list__title">Pressure: </span><span
                        class="weather-short-list__value">{{pressure}} hPa</span></li>
                <li class="weather-short-list__item"><span class="weather-short-list__title">{{phenomena}}</span><span
                        class="weather-short-list__value">{{precValue}}</span></li>
            </ul>
        </a>
    </li>
    {{/each}}
</ul>